Flask==2.0.1
Flask-CORS==3.0.10
cryptography==3.4.7
scapy==2.4.5
requests==2.31.0
python-nmap==0.7.1  # Requires Nmap (https://nmap.org/download.html) to be installed separately
beautifulsoup4==4.9.3
dnspython==2.1.0
python-whois==0.8.0
validators==0.18.2
pycryptodome==3.10.1
pytest==6.2.5  # for testing
selenium==4.15.2
webdriver-manager==3.8.6
google-cloud-webrisk==1.12.2
webdriver-manager==3.8.6
tldextract==3.4.4  # Added for PhishingDetector
